In [6]:
import pandas as pd

df=pd.read_csv("C:/Users/udossougbete/Desktop/Hbase_project/sample_crimes_data.csv")
display(df)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005086,211421071,11/07/2021 12:00:00 AM,11/07/2021 12:00:00 AM,100,14,Pacific,1431,1,761,BRANDISH WEAPON,...,IC,Invest Cont,761.0,NaN,NaN,NaN,00 WINDWARD AV,NaN,33.9873,-118.4729
1005087,210516671,12/01/2021 12:00:00 AM,12/01/2021 12:00:00 AM,1430,5,Harbor,585,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,AO,Adult Other,740.0,NaN,NaN,NaN,1900 S GRAND AV,NaN,33.7270,-118.2902
1005088,210217231,11/06/2021 12:00:00 AM,11/05/2021 12:00:00 AM,2300,2,Rampart,235,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,2300 MIRAMAR ST,NaN,34.0649,-118.2741
1005089,210312887,07/12/2021 12:00:00 AM,07/12/2021 12:00:00 AM,1200,3,Southwest,363,1,350,"THEFT, PERSON",...,IC,Invest Cont,350.0,NaN,NaN,NaN,CRENSHAW BL,STOCKER ST,34.0088,-118.3351
1005090,212005847,02/22/2021 12:00:00 AM,02/22/2021 12:00:00 AM,1200,20,Olympic,2034,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,3300 W 8TH ST,NaN,34.0596,-118.3022

# Show number of rows & columns

In [ ]:
df.info()

# Show missing values

In [ ]:
df.isnull().sum()

# DATA VIZ

In [ ]:
crime_counts = df.groupby(['AREA NAME', 'Crm Cd Desc']).size().reset_index(name='Count')

In [ ]:
import matplotlib.pyplot as plt

pivot_table = crime_counts.pivot(index='AREA NAME', columns='Crm Cd Desc', values='Count').fillna(0)

pivot_table.plot(kind='bar', stacked=True, figsize=(12,6), legend=False)
plt.ylabel('Number of Crimes')
plt.title('Number of crimes by areas categories')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()

plt.legend(title='Type of crime', bbox_to_anchor=(1.05, 1), loc='upper left', fontsize='small')
plt.show()

# Extract temporal features

In [ ]:

df['DATE OCC'] = pd.to_datetime(df['DATE OCC'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')


df = df[df['DATE OCC'].notna()] 
df['Year'] = df['DATE OCC'].dt.year
df['Month'] = df['DATE OCC'].dt.month
df['Day'] = df['DATE OCC'].dt.day
df['Weekday'] = df['DATE OCC'].dt.day_name()

df['Hour'] = df['TIME OCC'].astype(str).str.zfill(4).str[:2].astype(int)

In [ ]:
print(df['Year'].unique())
print(df['Year'].value_counts().sort_index())

# Crimes per year

In [ ]:
import matplotlib.pyplot as plt

df['Year'].value_counts().sort_index().plot(kind='bar', figsize=(12,6), color='blue')
plt.title('Number of crimes per year')
plt.xlabel('Year')
plt.ylabel('Number of crimes')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

# Crimes per month (aggregated over all years)

In [ ]:
df['Month'].value_counts().sort_index().plot(kind='bar', figsize=(12,6), color='green')
plt.title('Number of crimes per month (aggregated over all years))')
plt.xlabel('Month')
plt.ylabel('Nomber of crimes')
plt.xticks(ticks=range(0,12), labels=['Jan','Fév','Mar','Avr','Mai','Juin','Juil','Août','Sept','Oct','Nov','Déc'], rotation=0)
plt.tight_layout()
plt.show()


# Crimes per day

In [ ]:
days_order = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
df['Weekday'].value_counts().reindex(days_order).plot(kind='bar', figsize=(12,6), color='purple')
plt.title('Number of crimes per day')
plt.xlabel('Day')
plt.ylabel('Number of crimes')
plt.tight_layout()
plt.show()

# Connect to HBase

In [ ]:
!pip install happybase

In [ ]:
import happybase

In [10]:
df.rename(columns={
    "DR_NO": "dr_no",
    "Date Rptd": "date_rptd",
    "DATE OCC": "date_occ",
    "TIME OCC": "time_occ",
    "AREA": "area",
    "AREA NAME": "area_name",
    "Rpt Dist No": "rpt_dist_no",
    "Part 1-2": "part_1_2",
    "Crm Cd": "crm_cd",
    "Crm Cd Desc": "crm_cd_desc",
    "Mocodes": "mocodes",
    "Vict Age": "vict_age",
    "Vict Sex": "vict_sex",
    "Vict Descent": "vict_descent",
    "Premis Cd": "premis_cd",
    "Premis Desc": "premis_desc",
    "Weapon Used Cd": "weapon_used_cd",
    "Weapon Desc": "weapon_desc",
    "Status": "status",
    "Status Desc": "status_desc",
    "Crm Cd 1": "crm_cd_1",
    "Crm Cd 2": "crm_cd_2",
    "Crm Cd 3": "crm_cd_3",
    "Crm Cd 4": "crm_cd_4",
    "LOCATION": "location",
    "Cross Street": "cross_street",
    "LAT": "lat",
    "LON": "lon"
},inplace=True
)

# CATALOG FOR MAPPING

In [112]:
catalog = {
    "dr_no": {"family": "crime_details", "qualifier": "dr_no"},
    "date_rptd": {"family": "crime_details", "qualifier": "date_rptd"},
    "date_occ": {"family": "crime_details", "qualifier": "date_occ"},
    "time_occ": {"family": "crime_details", "qualifier": "time_occ"},
    "area": {"family": "place", "qualifier": "area"},
    "area_name": {"family": "place", "qualifier": "area_name"},
    "rpt_dist_no": {"family": "place", "qualifier": "rpt_dist_no"},
    "part_1_2": {"family": "crime_details", "qualifier": "part_1_2"},
    "crm_cd": {"family": "crime_details", "qualifier": "crm_cd"},
    "crm_cd_desc": {"family": "crime_details", "qualifier": "crm_cd_desc"},
    "mocodes": {"family": "crime_details", "qualifier": "mocodes"},
    "vict_age": {"family": "crime_details", "qualifier": "vict_age"},
    "vict_sex": {"family": "crime_details", "qualifier": "vict_sex"},
    "vict_descent": {"family": "crime_details", "qualifier": "vict_descent"},
    "premis_cd": {"family": "place", "qualifier": "premis_cd"},
    "premis_desc": {"family": "place", "qualifier": "premis_desc"},
    "weapon_used_cd": {"family": "crime_details", "qualifier": "weapon_used_cd"},
    "weapon_desc": {"family": "crime_details", "qualifier": "weapon_desc"},
    "status": {"family": "crime_details", "qualifier": "status"},
    "status_desc": {"family": "crime_details", "qualifier": "status_desc"},
    "crm_cd_1": {"family": "crime_details", "qualifier": "crm_cd_1"},
    "crm_cd_2": {"family": "crime_details", "qualifier": "crm_cd_2"},
    "crm_cd_3": {"family": "crime_details", "qualifier": "crm_cd_3"},
    "crm_cd_4": {"family": "crime_details", "qualifier": "crm_cd_4"},
    "location": {"family": "place", "qualifier": "location"},
    "cross_street": {"family": "place", "qualifier": "cross_street"},
    "lat": {"family": "place", "qualifier": "lat"},
    "lon": {"family": "place", "qualifier": "lon"}
}

# ROW_KEY IMPLEMENTATION

In [113]:





def implement_rowkey(row):
    
    date = pd.to_datetime(row['date_occ'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
    date_str = date.strftime('%Y%m%d') if pd.notna(date) else '00000000'
    time_str = str(row['time_occ']).zfill(4)[:4]  # HHMM
    area = str(row['area'])
    crm_cd = str(row['crm_cd'])
    dr_no = str(row['dr_no'])
    
    return f"E_{date_str}_{time_str}_{area}_{crm_cd}_{dr_no}"

# Function to push data into Hbase

In [114]:
def push_function(df, table_name, catalog, limit=550000):
    
    connection = happybase.Connection('localhost',port=9090)
    table = connection.table(table_name)
    
    for idx, row in df.head(limit).iterrows():
        rowkey = implement_rowkey(row) 

        data = {}
        for col, meta in catalog.items():
            value = row.get(col) 
            if pd.notna(value):
                family = meta['family']
                qualifier = meta['qualifier']
                data[f"{family}:{qualifier}"] = str(value)

        if data:
          
            table.put(rowkey.encode('utf-8'), data)
    
    print(f"{min(limit, len(df))} rows insert into HBase.")

In [115]:
push_function(df, table_name="practice:crimes", catalog=catalog, limit=550000)

550000 rows insert into HBase.

# Victim age and sex for crimes of INTIMATE PARTNER - SIMPLE ASSAULT

In [22]:

import happybase
import pandas as pd

connection = happybase.Connection('localhost', port=9090)
table = connection.table('practice:crimes')

rows = table.scan()
result = []

for key, data in rows:
    desc = data.get(b'crime_details:crm_cd_desc', b'').decode('utf-8')
    if desc == 'INTIMATE PARTNER - SIMPLE ASSAULT':
        result.append({
            
            'rowkey': key.decode(),
            'vict_age': data.get(b'crime_details:vict_age', b'').decode('utf-8'),
            'vict_sex': data.get(b'crime_details:vict_sex', b'').decode('utf-8')
        })

print("INTIMATE PARTNER - SIMPLE ASSAULT victims:")
for r in result[:10]:
    print(r)

INTIMATE PARTNER - SIMPLE ASSAULT victims:
{'rowkey': 'E_20200101_0001_13_626_231307986', 'vict_age': '42', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0001_17_626_201712464', 'vict_age': '33', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0001_20_626_202006047', 'vict_age': '33', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0005_15_626_211507536', 'vict_age': '28', 'vict_sex': 'M'}
{'rowkey': 'E_20200101_0005_15_626_211507537', 'vict_age': '26', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0005_19_626_231905565', 'vict_age': '26', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0030_15_626_201504034', 'vict_age': '30', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0030_16_626_201604003', 'vict_age': '33', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0030_16_626_201604031', 'vict_age': '38', 'vict_sex': 'F'}
{'rowkey': 'E_20200101_0030_19_626_201904083', 'vict_age': '39', 'vict_sex': 'F'}

# All SHOPLIFTING and VANDALISM crimes (if the label of the crime contains it)

In [24]:

import happybase
import pandas as pd

connection = happybase.Connection('localhost', port=9090)
table = connection.table('practice:crimes')


rows = table.scan()
a = []

for key, data in rows:
    desc = data.get(b'crime_details:crm_cd_desc', b'').decode('utf-8').lower()
    if 'shoplifting' in desc or 'vandalism' in desc:
        a.append({
            'rowkey': key.decode(),
            'crm_cd_desc': desc
        })

print("SHOPLIFTING / VANDALISM crimes:")
for r in a[:10]:
    print(r)

SHOPLIFTING / VANDALISM crimes:
{'rowkey': 'E_20200101_0001_17_740_201704365', 'crm_cd_desc': 'vandalism - felony ($400 & over, all church vandalisms)'}
{'rowkey': 'E_20200101_0001_18_740_231809815', 'crm_cd_desc': 'vandalism - felony ($400 & over, all church vandalisms)'}
{'rowkey': 'E_20200101_0001_18_745_201804087', 'crm_cd_desc': 'vandalism - misdeameanor ($399 or under)'}
{'rowkey': 'E_20200101_0001_18_745_201804089', 'crm_cd_desc': 'vandalism - misdeameanor ($399 or under)'}
{'rowkey': 'E_20200101_0015_18_745_201804039', 'crm_cd_desc': 'vandalism - misdeameanor ($399 or under)'}
{'rowkey': 'E_20200101_0030_16_745_201604023', 'crm_cd_desc': 'vandalism - misdeameanor ($399 or under)'}
{'rowkey': 'E_20200101_0100_14_740_201404048', 'crm_cd_desc': 'vandalism - felony ($400 & over, all church vandalisms)'}
{'rowkey': 'E_20200101_0100_21_740_202104015', 'crm_cd_desc': 'vandalism - felony ($400 & over, all church vandalisms)'}
{'rowkey': 'E_20200101_0130_14_745_201404508', 'crm_cd_desc': 'vandalism - misdeameanor ($399 or under)'}
{'rowkey': 'E_20200101_0130_15_740_201504131', 'crm_cd_desc': 'vandalism - felony ($400 & over, all church vandalisms)'}

# Crimes occuring in Hollywood

In [25]:

import happybase
import pandas as pd

connection = happybase.Connection('localhost', port=9090)
table = connection.table('practice:crimes')


rows = table.scan()
b = []

for key, data in rows:
    area_name = data.get(b'place:area_name', b'').decode('utf-8').upper()
    if area_name in  ['HOLLYWOOD','N HOLLYWOOD'] :
        b.append({
            'rowkey': key.decode(),
            'area_name': area_name
        })

print("Crimes in HOLLYWOOD:")
for r in b[:10]:
    print(r)

Crimes in HOLLYWOOD:
{'rowkey': 'E_20200101_0001_15_480_201513279', 'area_name': 'N HOLLYWOOD'}
{'rowkey': 'E_20200101_0001_15_812_201511678', 'area_name': 'N HOLLYWOOD'}
{'rowkey': 'E_20200101_0001_15_860_211516102', 'area_name': 'N HOLLYWOOD'}
{'rowkey': 'E_20200101_0001_6_121_230604864', 'area_name': 'HOLLYWOOD'}
{'rowkey': 'E_20200101_0001_6_237_220611873', 'area_name': 'HOLLYWOOD'}
{'rowkey': 'E_20200101_0005_15_624_201504026', 'area_name': 'N HOLLYWOOD'}
{'rowkey': 'E_20200101_0005_15_626_211507536', 'area_name': 'N HOLLYWOOD'}
{'rowkey': 'E_20200101_0005_15_626_211507537', 'area_name': 'N HOLLYWOOD'}
{'rowkey': 'E_20200101_0030_15_121_201504061', 'area_name': 'N HOLLYWOOD'}
{'rowkey': 'E_20200101_0030_15_626_201504034', 'area_name': 'N HOLLYWOOD'}